<div class="scanning-wrapper">
  <div class="scanning-item">
    <img src="../../../assets/qr-code.svg" alt="Barcode">
    <div class="headline">
      <div class="label">Erfassung Beacon</div>
      <input type="text" id="inp-beacon-id" placeholder="Beaconnummer" [(ngModel)]="beaconId"
        (keyup)="removeStyleHandler($event)" [ngClass]="{
          'isValid': isValid.beaconId,
          'isInvalid': isInvalid.beaconId
        }" />
    </div>
  </div>
</div>

<div class="pairing-wrapper">
  <button type="submit" id="btn-pairing" (click)="unpairIDsHandler()" [ngClass]="{
    'success': isValid.btnPairing,
    'danger': isInvalid.btnPairing
  }">{{ btnPairingText ? btnPairingText : '&nbsp;' }}</button>
</div>

<app-overlay
  [visibility]="overlayVisibility"
  [targetEl]="parentEl"
  [background]="overlayColor"
  [infoText]="infoText"
  (resetOverlay)="resetOverlay()"
  padding="0"
  opacity="0.6">
</app-overlay>